body {
    background-color: #f9f7fe;
    font-family: "Roboto", dans-serif;
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}
header { 
    border-bottom: 1px solid blue;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button {
    background: blue;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color:white;
}
footer {
    border-top: 1px solid blue;
    padding: 30px 0 0 0;
}